.container .lifeline-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.container .lifeline-container .fifty-fifty, .two-chance {
    height: 70px;
    width: 70px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
}

#cross-mark-1{
    display: none;
    position: absolute;
    padding : 0px;
}

#cross-mark-2{
    display: none;
    position: absolute;
    padding : 0px;
}

.container .lifeline-container .fifty-fifty:hover, .two-chance:hover {
    cursor: pointer;
    background: lightgray;
}

.container .lifeline-container .fifty-fifty h2, .two-chance h2{
    font-size: 100%;
}

