.container .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

.container .options-container .option {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
}

.container .options-container .option:hover {
    cursor: pointer;
    background: lightgray;
}

.correct {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
    background: #33ff99;
}

.correct:hover {
    background: #33ff99;
    cursor: pointer;
}

.wrong {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
    background: lightcoral;
}

.wrong:hover {
    background: lightcoral;
    filter: brightness(80%);
    cursor: pointer;
}

.hold {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
    background: lightgray;
}

.hold:hover {
    pointer-events: none;
    color: white;
}

.disable {
    pointer-events: none;
}

.container .options-container .option .option-text-container span {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 75%;
    cursor: pointer;
    font-weight: bold;
    color: goldenrod;
}

.hide-text {
    color: #040e20;
}

@media screen and (max-height: 850px) {
    .container .options-container {
        margin-bottom: 2.7rem;
    }
}

@media screen and (max-height: 785px) {
    .container .options-container {
        margin-bottom: 2.4rem;
    }
}

@media screen and (max-height: 740px) {
    .container .options-container {
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-height: 568px) {
    .container .options-container {
        margin-bottom: 1.7rem;
    }
}

@media screen and (max-height: 651px) {
    .container .options-container {
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-height: 631px) {
    .container .options-container {
        margin-bottom: 1.0rem;
    }
}