.container .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}

.container .options-container .option {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
}

.container .options-container .option:hover {
    cursor: pointer;
    background: lightgray;
}

.correct {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
    background: lightgreen;
}

.correct:hover {
    background: lightgreen;
    cursor: pointer;
}

.wrong {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 0.7rem;
    transition: .3s ease;
    background:lightcoral;
}

.wrong:hover {
    background: lightcoral;
    cursor: pointer;
}

.disable {
    pointer-events: none;
}

.container .options-container .option .option-text-container span {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 75%;
    cursor: pointer;
    font-weight: bold;
    color: goldenrod;
}