


.container .question-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    font-weight: bolder;
    border: 2px solid skyblue;
    border-radius: 10px;
    margin-bottom: 0.7rem;
}

.container .question-container p {
    transition : .5s ease;
    margin: 10px 25px 10px 45px;
}

